/* Estilos para o header */
body{
    margin: auto;
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}
/* Estilos para o header */
header {
    background-color: #2675A6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header li {
    margin-left: 20px;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  header a:hover {
    background-color: #fff;
    color: #333;
  }
  
  /* Estilos para o main */
  main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  /* Estilos para a tabela de reservas */
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  thead th {
    background-color: #4fa2f5;
    color: #fff;
    border-bottom: 2px solid #dee2e6;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  tbody tr:hover {
    background-color: #e9ecef;
  }
  
  /* Estilos para o botão de ações */
  .botao-acoes {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .botao-acoes button {
    margin-left: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-acoes button:hover {
    background-color: #333;
  }
  
  /* Estilos para mensagens de erro */
  .erro {
    color: red;
    font-size: 16px;
    margin-top: 10px;
  }